.App {
  text-align: center;
  background-color: rgb(124, 185, 175);
}
body
{
  background-color: rgb(124, 185, 175);
}
/* __________________________HEADER_____________________________________ */
header
{
  background-color: rgb(221, 195, 87);
  width: 100%;
  
}
header h1
{
  font-family: 'Lemonada', sans-serif;
  color: #7d3b00;

}
/* Define keyframes for the animation */
@keyframes upDownAnimation {
  0%, 100% {
    transform: translateY(0); /* Initial and final position */
  }
  50% {
    transform: translateY(-20px); /* Midpoint position, adjust the value as needed */
  }
}
/* _______________________________________OpenAnimationDiv________________________________________ */
.AnimationPageDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OpenAnimationDiv
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70%;
}
@keyframes Fork {
  0%, 50% {
    opacity: 0;
    transform: translateY(20px);
  }
  25%, 75% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Pizza {
  0%, 50% {
    opacity: 1;
    transform: translateY(0);
  }
  25%, 75% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.OpenAnimationDiv img
{
  width: 15%;
  margin: 10px; /* Adjust margin as needed */
}
#Fork
{
  animation: Fork 2s linear infinite;
  animation-delay: 0s, 5s, 2.5s; /* Adjust the delays for synchronization */
}
#Pizza
{
  animation: Pizza 2s linear infinite;
  animation-delay: 0s, 5s, 2.5s; /* Adjust the delays for synchronization */
}
#Salad
{
  animation: Fork 2s linear infinite;
  animation-delay: 0s, 5s, 2.5s; /* Adjust the delays for synchronization */
}
/* ______________________________________________ EnterPageComponent _________________________________________ */
.EnterPageComponent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EnterPageComponent h2
{
  font-family: 'Kufam', sans-serif;
  font-size: 15px;

}
/* ____________________________StartGetDivEnterPageComponent________________________________ */
.StartGetDivEnterPageComponent
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 5%;

}
.StartGetDivEnterPageComponent h2
{
  font-size: 20px;
}
#Start
{
 color: #7d3b00;
 position: relative;
 transform: rotate(340deg);
}
#Get
{
 color: #00677c;
 position: relative;
 transform: rotate(20deg);
}
/*-------------- OpenCloseDivInEnterPageComponent -----------------*/
.OpenCloseDivInEnterPageComponent
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.OpenCloseDivInEnterPageComponent img
{
  width: 70%;
}
.OpenCloseDivInEnterPageComponent h2
{
  border: 5px solid rgb(73, 49, 42);
  width: 130px;
  height: 40px;
  padding-top: 3%;
  border-radius: 50px; 
  color: white;
}
/* ---------------------- ParagraphEnterPageComponent ----------------------- */
.ParagraphEnterPageComponent p
{
  font-size: 18px;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0px;
}
/* -----------------------------ArrowDivEnterPageComponent-------------------------- */
.ArrowDivEnterPageComponent
{
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  animation: upDownAnimation 3s infinite; /* 1s duration, infinite loop */

}
.ArrowEnterPageComponent
{
  width: 40%;
  position: relative;
  transform:scaleX(-1) rotate(359deg);
  
  
}
.ArrowSecondEnterPageComponent
{
  width: 40%;
  position: relative;
  transform: rotate(357deg);
  animation: upDownAnimation 5s infinite; /* 1s duration, infinite loop */

}

/* __________________________________TakeAwayOrInComponent__________________________________ */
.TakeAwayOrInComponent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.TakeAwayOrInComponent div
{
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TakeAwayOrInComponent h2
{
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  margin-bottom: 20%;
}

.TakeAwayOrInComponent button
{
  width: 250px;
  height: 80px;
  margin-bottom: 10%;
  color: black;
  border-radius: 10px;
  border: 8px solid #7d3b00;
  background-color: rgb(221, 195, 87);
  font-size: 25px;
  font-weight: 700;
  font-family: 'Kufam', sans-serif;
}
/* ____________________________________Menu && MealsComponent_________________________________ */
.Menu
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MenuShippingOrTakeAwayH2
{
  font-family: 'Kufam', sans-serif;
  color: rgb(73, 49, 42);
  border-bottom: 5px solid rgb(221, 195, 87);
  padding-bottom: 2%;
  
}
.Menu button
{
  width: 80%;
  height: 70px;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  border: 5px solid rgb(73, 49, 42);
  border-radius: 10px;
  background-color: rgb(221, 195, 87);
  color:rgb(73, 49, 42);
  font-weight: 700;
  margin-bottom: 5%;

}
.Menu a
{
  width: 80%;
  height: 50px;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  border: 5px solid rgb(73, 49, 42);
  border-radius: 10px;
  background-color: rgb(221, 195, 87);
  color:rgb(73, 49, 42);
  font-weight: 700;
  margin-bottom: 5%;

}
.SpecialMenuMenuComponent
{
  font-size: 30px;
  text-align: left;
  color:#7d3b00;
  font-weight: bold;
  font-family: 'Kufam', sans-serif;
}
.MealShowMenu
{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
}
.MealsComponent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;

}
.MealsComponent h2
{
  font-family: 'Kufam', sans-serif;
  margin: 0px;
  border: 3px solid rgb(221, 195, 87);
  border-top: 0px;
  width: 80%;
  font-size: 15px;
}
.MealImageMealsComponent
{
  width: 80%;
  height: 160px;
  border: 3px solid rgb(221, 195, 87);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
}
.mealImage
{
  width: 80%;
  border: 3px solid rgb(221, 195, 87);
  border-radius: 10px;
  background-color: white;

}
/* ____________________________________Meal&DrinkCountersDiv_____________________________________ */
.MealDrinkCountersDiv
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.MealDrinkCountersDiv h1
{
  width: 90px;
  height: 50px;
  font-family: 'Kufam', sans-serif;

}

.MealDrinkCountersDiv button
{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(221, 195, 87);
  color: #7d3b00;
  border: 0px;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 10px;

}
/* ____________________________________________AddToCartAndBackButton_____________________________________ */
.AddToCartAndBackButtonDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}
.AddToCartAndBackButtonDiv button
{
  width: 80%;
  background-color: #7d3b00;
  border-radius: 10px;
  border: 5px solid rgb(221, 195, 87);
  color: rgb(221, 195, 87);
  height: 60px;
  margin-bottom: 5%;
  font-size: 25px;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
}
/* _______________________________________________AdditionsDiv___________________________________ */
.AdditionsDiv
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  width: 100%;
}
.AdditionsComponent
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.additionName
{
  width: 100%;
}

.AdditionsDiv h1
{
  font-size: 18px;
  font-family: 'Kufam', sans-serif;
  text-align: right;
  margin-right: 5%;
  color: rgb(73, 49, 42);

}
.AdditionCountersDiv
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.AdditionCountersDiv button
{
  background-color: #00677c;
  color: rgb(221, 195, 87);
  width: 40px;
  height: 40px;
  margin-left: 10%;
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Kufam', sans-serif;

  border: 2px solid rgb(221, 195, 87);
}
.AdditionCountersDiv h2
{
  font-family: 'Kufam', sans-serif;
  font-weight: 500;

}
.AdditionCountersDiv img
{
  width: 15%;
  margin-left: 5%;
}
/* _________________________________________ InformationsPageComponent__________________________________*/

.InformationsPageComponent
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}
.InformationsPageComponent h1
{
  font-size: 25px;
  font-family: 'Kufam', sans-serif;
  color:rgb(73, 49, 42);
  border-right: 3px solid rgb(73, 49, 42);
  border-left: 3px solid rgb(73, 49, 42);
  padding-left: 2%;
  padding-right:2%;
}
.InformationsPageComponent h3
{
  font-size: 18px;
  text-align:right;
  align-self:flex-end;
  font-family: 'Kufam', sans-serif;
  font-weight: 500;
  color: rgb(73, 49, 42);
  margin-bottom: 0px;
}
.InformationsPageComponent span
{
  font-size: 12px;
  color:#00677c;
}
/* ________________________________________InformationsPageComponent______________________________ */
.InformationsPageComponentInput
{
  width: 80%;
  height: 35px;
  border: 5px solid rgb(73, 49, 42);
  background-color: rgba(255, 255, 255, .3);
  text-align: right;  
  padding-right: 2%;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Kufam', sans-serif;
  color: rgb(73, 49, 42);
  border-radius: 10px;
}
#textArea
{
  border: 5px solid rgb(73, 49, 42);
  background-color: rgba(255, 255, 255, .3);
  text-align: right;  
  padding-right: 2%;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  color: rgb(73, 49, 42);
  border-radius: 10px;
  margin-bottom: 10%;
}
.InformationsPageComponent button
{
  width: 80%;
  height: 70px;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  border: 5px solid rgb(73, 49, 42);
  border-radius: 10px;
  background-color: rgb(221, 195, 87);
  color:rgb(73, 49, 42);
  font-weight: 700;
  margin-bottom: 5%;
}
.InformationsPageComponent select
{
  width: 80%;
  height: 50px;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  border: 5px solid rgb(73, 49, 42);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .3);
  padding-right: 2%;
  text-align: right;
}
/* ________________________________________FinalCartComponent_____________________________________ */
.FinalCartComponent
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.FinalCartComponent div
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.FinalCartComponent h4
{
  font-size: 35px;
  font-family: 'Kufam', sans-serif;
  color:rgb(73, 49, 42);
  border-right: 5px solid #7d3b00;
  border-left:5px solid #7d3b00;
  padding-left: 2%;
  padding-right:2%;
  margin-top: 0px;

}

.FinalCartComponent h3
{
  font-family: 'Kufam', sans-serif;
  font-size: 15px;
  color: #7d3b00;
  text-align: right;
  margin-right: 5%;
}
.FinalCartComponent input
{
  width: 50%;
  height: 30px;
  background-color: rgba(255, 255, 255, .3);
  border: 3px solid #7d3b00;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Kufam', sans-serif;
  text-align: right;
  color: rgb(73, 49, 42);
  margin-left: 5%;
}

.FinalCartComponent h2
{
  font-size: 20px;
  padding-bottom: 3%;
  color: rgb(73, 49, 42);

}

.FinalCartComponent textarea
{
  width: 50%;
  height: 80px;
  margin-left: 5%;
  border-radius: 8px;
  font-size: 18px;
  text-align: right;
  background-color: rgba(255, 255, 255, .3);
  border: 3px solid #7d3b00;
  font-family: 'Kufam', sans-serif;
  color: rgb(73, 49, 42);
}
/* _______________________________________CartShowComponent_______________________________________ */
.CartShowComponent
{
  font-family: 'Kufam', sans-serif;
}
.CartShowComponent h2
{
  font-size: 15px;
}
.CartShowComponent h5
{
  color: #7d3b00;
}
.CartShowComponent h6
{
  font-size: 12px;
  color: #7d3b00;
}
/* _______________________________________________TakeAwayOrShippingCartDiv___________________________- */
.TakeAwayOrShippingCartDiv button
{
  width: 80%;
  height: 70px;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  border: 5px solid rgb(73, 49, 42);
  border-radius: 10px;
  background-color: rgb(221, 195, 87);
  color:rgb(73, 49, 42);
  font-weight: 700;
  margin-bottom: 5%;
}
/* ______________________________________FinalCartReadyButtonsDiv___________________________________ */
.FinalCartReadyButtonsDiv button
{
  width: 80%;
  height: 70px;
  font-size: 20px;
  font-family: 'Kufam', sans-serif;
  border: 5px solid #00677c;
  border-radius: 10px;
  background-color: rgb(221, 195, 87);
  color:#00677c;
  font-weight: 700;
  margin-bottom: 5%;
}
.FinalCartReadyButtonsDiv h2
{
  font-family: 'Kufam', sans-serif;
  color: rgb(73, 49, 42);
}
/* ______________________________________________FinalPriceForOrderAndDelivery____________________________ */
.FinalPriceForOrderAndDelivery
{
  font-size: 25px;
  padding: 3%;
  padding-right: 7%;
  padding-left: 7%;
  border-radius: 10px;
  color: rgb(73, 49, 42);
  border:5px solid #7d3b00;
  font-family: 'Kufam', sans-serif;
}
/* _________________________________TrashComponent_____________________________________ */
.TrashComponent
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00677c;
  height: 350px;
  border-radius: 15px;
  padding-bottom: 5%;
  margin-top: 5%;
}
.TrashComponent h1
{
  color:white;
  font-family: 'Kufam', sans-serif;
  font-size: 25px;
}
.TrashComponent button
{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 0px;
  font-size: larger;
  font-family: 'Kufam', sans-serif;
  color: white;
}


















/* ________________________________________FooterComponent________________________________________ */
.FooterComponent
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  left: 0px;
  bottom: 0px;
  border-top: 3px solid rgb(221, 195, 87);
}
.FooterComponent button
{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 0px;
  background-color: transparent;
  padding: 0px;
  border-left: 3px solid rgb(221, 195, 87);
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 3px solid rgb(221, 195, 87);


}
.FooterComponent a
{
  margin: 0px;
  background-color: transparent;
  padding: 0px;
  border-left: 3px solid rgb(221, 195, 87);
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 3px solid rgb(221, 195, 87);


}
.FooterComponent img
{
  width: 40%;
  
}



/* _____________________________MINIU___________________________________ */
#miniuDiv
{
    /* bottom: 0px; */
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    bottom: 0px;
    flex-direction: column;
    background: transparent;
    color: white;
    margin-top: 50%;
    width: 50%;
    align-self: center;
    font-family: 'Kufam', sans-serif;
    font-size: 15px;
    padding-bottom: 1%;
}
#design
{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
#miniuDiv h3
{
  font-size: 15px;
  font-weight: 600;
}
#miniuDiv div
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 1%;

}
#miniuDiv img
{
  width: 50%;
}

#miniuDiv span
{
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}
/* .hidden
{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-100%);
}
.show
{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);

} */
/* Rating _________________________________________________________________________ */
.NotesComponent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kufam', sans-serif;
}
.NotesComponent h1
{
  font-size: 25px;
  color:rgb(73, 49, 42);
}
.NotesComponent h2
{
  font-size: 20px;
  color: #7d3b00;
}
.NotesComponent h3
{
  font-size: 15px;
  color: rgb(73, 49, 42);
}
.NotesComponent p
{
  font-size: 20px;
  color: #00677c;
  font-weight: 700;
}
.NotesComponent textarea
{
  width: 80%;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Kufam', sans-serif;
}
.NotesComponent button
{
  width: 60%;
  margin-top: 5%;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(221, 195, 87);
  color: rgb(73, 49, 42);
  font-size: 25px;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;

}
.WarGame
{
  width: 60%;
  margin-top: 5%;
  height: 80px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(221, 195, 87);
  color: rgb(73, 49, 42);
  font-size: 25px;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding-top: 3%;
}

.OrderNumberSpan
{
  color:#00677c;
  font-size: 25px;
}
.rating-container {
  text-align: center;
}

.rating-stars {
  font-size: 30px;
  cursor: pointer;
}

.rating-stars span:hover,
.rating-stars span.active {
  color: gold;
}
